---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="mb-10">
  <small>{{ post.date | date: "%-d %B %Y" }}</small>
  <h1>{{ post.title }}</h1>
  {{ post.excerpt }}

  <a href="{{ post.url }}">Read the whole post</a>
</div>

<hr />
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
